<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试修改</title>
    <% include("../../../layout/css.html"){} %>
</head>
<body>
<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>
<form class="layui-form model-form" lay-filter="demoForm">
    <input type="text" name="rowGuid" class="layui-input layui-hide">
    <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">测试内容：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="testContent" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">测试类型：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="testType" autocomplete="off" class="layui-input">
                    </div>
                </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demoEdit">修改</button>
            <button class="layui-btn  layui-btn-primary" ew-event="closeDialog">取消</button>
        </div>
    </div>
</form>
<!-- js部分 -->
<% include("../../../layout/js.html"){} %>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin','emil'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var emil = layui.emil;

        var rowGuid = emil.getUrlParams('rowGuid');
        $('#rowGuid').val(rowGuid);

        //渲染测试
        $.post("getDemoByRowGuid", {rowGuid: rowGuid}, function (res) {
            form.val('demoForm', res);
            form.render();
        }, 'json');

        // 修改测试
        form.on("submit(demoEdit)", function (data) {
            layer.load(2);
            $.post("demoUpdate", data.field, function (res) {
                layer.closeAll('loading');
                if (res.code == 200) {
                    emil.alertAndClose(res);
                } else if (res.code == 500) {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
            return false;
        })
    });
</script>
</body>
</html>