<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo新增</title>
    <% include("../../../layout/css.html"){} %>
</head>
<body>
<form class="layui-form model-form">

    <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">测试内容：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="testContent" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">测试类型：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="testType" autocomplete="off" class="layui-input">
                    </div>
                </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn " lay-submit="" lay-filter="demoAdd">添加</button>
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog">取消</button>
        </div>
    </div>
</form>
<!-- js部分 -->
<% include("../../../layout/js.html"){} %>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin','emil'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var emil = layui.emil;

        form.on("submit(demoAdd)", function (data) {
            layer.load(2);
            $.post("demoAdd", data.field, function (res) {
                layer.closeAll('loading');
                if (res.code == 200) {
                    emil.alertAndClose(res);
                } else if (res.code == 500) {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
            return false;
        })
    });
</script>
</body>
</html>