<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心</title>
    <% include("../layout/css.html"){} %>
    <style>
        .user-info-head {
            width: 110px;
            height: 110px;
            position: relative;
            display: inline-block;
            border-radius: 50%;
            border: 2px solid #eee;
        }

        .user-info-head:hover:after {
            content: '\e65d';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            color: #eee;
            background: rgba(0, 0, 0, 0.5);
            font-family: layui-icon;
            font-size: 24px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            cursor: pointer;
            line-height: 110px;
            border-radius: 50%;
        }

        .user-info-head img {
            width: 110px;
            height: 110px;
            border-radius: 50%;
        }

        .info-list-item {
            position: relative;
            padding-bottom: 8px;
        }

        .info-list-item > .layui-icon {
            position: absolute;
        }

        .info-list-item > p {
            padding-left: 30px;
        }

        .dash {
            border-bottom: 1px dashed #ccc;
            margin: 15px 0;
        }

        .bd-list-item {
            padding: 14px 0;
            border-bottom: 1px solid #e8e8e8;
            position: relative;
        }

        .bd-list-item .bd-list-item-img {
            width: 48px;
            height: 48px;
            line-height: 48px;
            margin-right: 12px;
            display: inline-block;
            vertical-align: middle;
        }

        .bd-list-item .bd-list-item-content {
            display: inline-block;
            vertical-align: middle;
        }

        .bd-list-item .bd-list-item-lable {
            margin-bottom: 4px;
            color: #333;
        }

        .bd-list-item .bd-list-item-oper {
            position: absolute;
            right: 0;
            top: 50%;
            text-decoration: none !important;
            cursor: pointer;
            transform: translateY(-50%);
        }

        .user-info-form .layui-form-item {
            margin-bottom: 25px;
        }
    </style>
</head>
<body>

<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <!-- 左 -->
        <div class="layui-col-sm12 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 25px;">
                    <div class="text-center layui-text">
                        <div class="user-info-head" id="imgHead">
                            <img src="../../assets/images/head.png"/>
                        </div>
                        <h2 style="padding-top: 20px;" id="username"></h2>
                        <p style="padding-top: 8px;">海纳百川，有容乃大</p>
                    </div>
                    <div class="layui-text" style="padding-top: 30px;">
                        <div class="info-list-item">
                            <i class="layui-icon layui-icon-username"></i>
                            <p>交互专家</p>
                        </div>
                        <div class="info-list-item">
                            <i class="layui-icon layui-icon-release"></i>
                            <p>某某公司－某某某事业群－某某平台部－某某技术部－UED</p>
                        </div>
                        <div class="info-list-item">
                            <i class="layui-icon layui-icon-location" style="cursor: pointer" id="openMap"></i>
                            <p id="address"></p>
                        </div>
                    </div>
                    <div class="dash"></div>
                    <h3>标签</h3>
                    <div class="layui-badge-list" style="padding-top: 6px;">
                        <input id="tagsInput" class="layui-hide"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右 -->
        <div class="layui-col-sm12 layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-body layui-text">
                    <div class="layui-tab layui-tab-brief" lay-filter="userInfoTab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">基本信息</li>
                            <li>账号绑定</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-form user-info-form">
                                    <form id="userInfo" class="layui-form model-form" lay-filter="userInfoForm">
                                        <input type="text" name="userId" class="layui-input layui-hide">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">用户名:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="nickName"
                                                           class="layui-input" lay-verify="required" required/>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">登录名:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="username"
                                                           class="layui-input" lay-verify="required" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">真实姓名:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="trueName"
                                                           class="layui-input" lay-verify="required" required/>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">性别:</label>
                                                <div class="layui-input-inline">
                                                    <input type="radio" name="sex" value="男" title="男" checked/>
                                                    <input type="radio" name="sex" value="女" title="女"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">邮箱:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="email"
                                                           class="layui-input" lay-verify="required" required/>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">联系电话:</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="phone"
                                                           class="layui-input" lay-verify="required" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">个人简介:</label>
                                            <div class="layui-input-block">
                                                <textarea name="description" placeholder="个人简介"
                                                          class="layui-textarea"></textarea>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button class="layui-btn" lay-filter="userInfoSubmit" lay-submit>
                                                    更新基本信息
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="layui-tab-item" style="padding: 6px 25px 30px 25px;">

                                <div class="bd-list">
                                    <div class="bd-list-item">
                                        <div class="bd-list-item-content">
                                            <div class="bd-list-item-lable">密保手机</div>
                                            <div class="bd-list-item-text">已绑定手机：138****8293</div>
                                        </div>
                                        <a class="bd-list-item-oper">修改</a>
                                    </div>
                                    <div class="bd-list-item">
                                        <div class="bd-list-item-content">
                                            <div class="bd-list-item-lable">密保邮箱</div>
                                            <div class="bd-list-item-text">已绑定邮箱：ant***sign.com</div>
                                        </div>
                                        <a class="bd-list-item-oper">修改</a>
                                    </div>
                                    <div class="bd-list-item">
                                        <div class="bd-list-item-img">
                                            <i class="layui-icon layui-icon-login-qq"
                                               style="color: #3492ED;font-size: 48px;"></i>
                                        </div>
                                        <div class="bd-list-item-content">
                                            <div class="bd-list-item-lable">绑定QQ</div>
                                            <div class="bd-list-item-text">当前未绑定QQ账号</div>
                                        </div>
                                        <a class="bd-list-item-oper">绑定</a>
                                    </div>
                                    <div class="bd-list-item">
                                        <div class="bd-list-item-img">
                                            <i class="layui-icon layui-icon-login-wechat"
                                               style="color: #4DAF29;font-size: 48px;"></i>
                                        </div>
                                        <div class="bd-list-item-content">
                                            <div class="bd-list-item-lable">绑定微信</div>
                                            <div class="bd-list-item-text">当前未绑定绑定微信账号</div>
                                        </div>
                                        <a class="bd-list-item-oper">绑定</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- js部分 -->
<% include("../layout/js.html"){} %>

<script>
    layui.use(['layer', 'form', 'element', 'admin', 'emil', 'tagsInput'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var element = layui.element;
        var admin = layui.admin;
        var tagsInput = layui.tagsInput;
        var emil = layui.emil;
        // 根据用户ID获取用户信息
        $.post('userCenter/getUserById', function (res) {
            var userInfo = res.data;
            $('#username').text(userInfo.username);
            $('#userId').text(userInfo.userId);
            $('#address').text(userInfo.address);
            $('#tagsInput').importTags(userInfo.tags);
            form.val('userInfoForm', res.data);
            form.render();
        }, 'json');

        //更新用户信息
        form.on("submit(userInfoSubmit)", function (data) {
            layer.load(2);
            $.post("userCenter/updateUser", data.field, function (res) {
                layer.closeAll('loading');
                if (res.code == 200) {
                    layer.msg(res.msg, {icon: 1});
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                } else if (res.code == 500) {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
            return false;
        });

        function updateUserLeftInfo(userLeftInfo) {
            $.post("userCenter/updateUser", userLeftInfo, function (res) {
                layer.closeAll('loading');
                if (res.code == 200) {
                    layer.msg(res.msg, {icon: 1});
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                } else if (res.code == 500) {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
        }

        // 地图选择位置
        $('#openMap').click(function () {
            admin.chooseLocation({
                needCity: true,
                onSelect: function (res) {
                    var address = res.city.province + res.city.city + res.city.district + res.name + res.address;
                    var userData = $.param({'address': address}) + '&' + $('#userInfo').serialize();
                    updateUserLeftInfo(userData);
                }
            });
        });

        // 增加标签
        $('#tagsInput').tagsInput({
            skin: 'tagsinput-default',
            width: 'auto',
            onAddTag: function (tag) {
                var tagData = emil.getValue('tagsInput');
                var tagDataLength = tagData.split(',').length;
                if (tagDataLength <= 10) {
                    var userData = $.param({'tags': tagData}) + '&' + $('#userInfo').serialize();
                    updateUserLeftInfo(userData);
                } else {
                    layer.msg('最多只能输入10个标签', {icon: 1});
                }
            },
            onRemoveTag: function (tag) {
                var tagData = emil.getValue('tagsInput');
                var userData = $.param({'tags': tagData}) + '&' + $('#userInfo').serialize();
                updateUserLeftInfo(userData);
            },
            maxChars: 5
        });

        // 选择头像
        $('#imgHead').click(function () {
            admin.cropImg({
                onCrop: function (res) {
                    $.post("userCenter/updateAvatar", JSON.stringify({file: res}), function (res) {
                        layer.closeAll('loading');
                        if (res.code == 200) {
                            layer.msg(res.msg, {icon: 1});
                            setTimeout(function () {
                                location.reload();
                            }, 500);
                        } else if (res.code == 500) {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }, 'json');
                    $('#imgHead>img').attr('src', res);
                }
            });
        });
    });
</script>
</body>
</html>