<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sysDepartment新增</title>
    <% include("../../../../layout/css.html"){} %>
</head>
<body>
<form class="layui-form model-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">上级部门：</label>
            <div class="layui-input-inline">
                <ul id="departmentTree" class="dtree" data-id="0" ></ul>
                <input type="text" id="parentId" name="parentId" class="layui-input layui-hide" lay-verify="required"
                       lay-reqtext="上级部门不能为空!">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">部门名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="departmentName" autocomplete="off" class="layui-input" lay-verify="required"
                       lay-reqtext="部门名称不能为空!">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">部门编码：</label>
            <div class="layui-input-inline">
                <input type="text" name="departmentCode" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-inline">
                <input type="text" name="orderNumber" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn " lay-submit="" lay-filter="sysDepartmentAdd">添加</button>
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog">取消</button>
        </div>
    </div>
</form>
<!-- js部分 -->
<% include("../../../../layout/js.html"){} %>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'emil', 'dtree'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var emil = layui.emil;
        var dtree = layui.dtree;

        dtree.renderSelect({
            elem: "#departmentTree",
            url: "departmentTree",
            accordion: true,
            menubar: true,
            initLevel: '2',
            selectTips: "请选择上级部门",
            selectCardHeight: "250",
            done: function (res, $ul, first) {
                if (first) {
                }
            }
        });

        dtree.on("node('departmentTree')", function (obj) {
            $('#parentId').val(obj.param.nodeId);
        });

        form.on("submit(sysDepartmentAdd)", function (data) {
            layer.load(2);
            $.post("sysDepartmentAdd", data.field, function (res) {
                emil.alertAndClose(res);
            }, 'json');
            return false;
        });
    });
</script>
</body>
</html>