<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门修改</title>
    <% include("../../../../layout/css.html"){} %>
</head>
<body>
<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>
<form class="layui-form model-form" lay-filter="sysDepartmentForm">
    <input type="text" name="rowGuid" class="layui-input layui-hide">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">上级目录：</label>
            <div class="layui-input-inline">
                <input type="text" name="parentId" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">部门名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="departmentName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">部门编码：</label>
            <div class="layui-input-inline">
                <input type="text" name="departmentCode" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-inline">
                <input type="text" name="orderNumber" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="sysDepartmentEdit">修改</button>
            <button class="layui-btn  layui-btn-primary" ew-event="closeDialog">取消</button>
        </div>
    </div>
</form>
<!-- js部分 -->
<% include("../../../../layout/js.html"){} %>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'emil'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var emil = layui.emil;

        var rowGuid = emil.getUrlParams('rowGuid');
        $('#rowGuid').val(rowGuid);

        //渲染部门
        $.post("getSysDepartmentByRowGuid", {rowGuid: rowGuid}, function (res) {
            form.val('sysDepartmentForm', res);
            form.render();
        }, 'json');

        // 修改部门
        form.on("submit(sysDepartmentEdit)", function (data) {
            layer.load(2);
            $.post("sysDepartmentUpdate", data.field, function (res) {
                emil.alertAndClose(res);
            }, 'json');
            return false;
        })
    });
</script>
</body>
</html>