<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.system.mapper.CodeItemMapper">


    <select id="listFull" resultType="com.wf.ew.system.entity.CodeItem">
        SELECT *
        FROM code_items
        <where>
            <if test="page.pageData.codeId!=null">
                and code_id = '${page.pageData.codeId}'
            </if>
            <if test="page.pageData.itemText!=null">
                and item_text like '%${page.pageData.itemText}%'
            </if>
        </where>
    </select>
    <!--获取代码项子级的数量-->
    <select id="getCodeItemCount" resultType="java.lang.Integer">
        select count(1) from code_items where code_id = #{codeId,jdbcType=INTEGER}
    </select>

    <!--获取当前代码项下的子项-->
    <select id="getCodeItemByMainId" resultType="com.wf.ew.system.entity.CodeItem">
        select * from code_items where code_id = #{codeId,jdbcType=INTEGER}

    </select>
</mapper>
