<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.ew.system.mapper.SysMessageMapper">
    <!--  消息中心列表  -->
    <select id="listFull" resultType="com.wf.ew.system.entity.SysMessage">
        select * from sys_message
        <where>
            <if test="page.pageData.targetUser!=null">
                and targetUser = '${page.pageData.targetUser}'
            </if>
        </where>
    </select>

    <!--全部标记为已读-->
    <update id="changeReadStatus">
        update sys_message
        <if test="rowGuid!=null and rowGuid!=''">
            set isread = #{isRead,jdbcType=INTEGER} where rowGuid = #{rowGuid,jdbcType=INTEGER} and targetuser = #{userId,jdbcType=INTEGER}
        </if>
        <if test="rowGuid==null or rowGuid==''">
            set isread = '1' where targetuser = #{userId,jdbcType=INTEGER}
        </if>
    </update>

    <!--获取未读消息数量-->
    <select id="getMessageCount" resultType="java.lang.Integer">
        select count(1) from sys_message where isread = '0' and targetuser = #{userId,jdbcType=INTEGER}
    </select>
</mapper>