<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>子系统</title>
    <% include("../../../../layout/css.html"){} %>
</head>
<body>

<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button class="layui-btn icon-btn" lay-filter="subsystemSubmit" lay-submit>
                            <i class="layui-icon">&#xe654;</i>新增
                        </button>
                    </div>
                    <!--删除数据-->
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
                    </div>
                </div>
            </div>
            <hr>
            <form id="modelSubsystemForm" lay-filter="modelSubsystemForm" class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto layui-form-required">子系统名称</label>
                        <div class="layui-input-inline">
                            <input id="subSystemName" type="text" name="subsystemName" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">排序号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="orderNum" autocomplete="off"
                                   lay-verify="required|number"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
            </form>
            <table class="layui-table" id="tableSubsystem" lay-filter="tableSubsystem"></table>
        </div>
    </div>
</div>
<!--    </div>-->
<!--</div>-->
<!-- 表格操作列 -->
<script type="text/html" id="tableBarSubsystem">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- js部分 -->
<% include("../../../../layout/js.html"){} %>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'dtree', "admin","emil"], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var dtree = layui.dtree;
        var admin = layui.admin;
        var emil = layui.emil;
        // 渲染表格
        var insTb = table.render({
            elem: '#tableSubsystem',
            url: 'subsystem/list',
            page: true,
            cellMinWidth: 150,
            height:'full-180',
            cols: [[
                {type: 'checkbox'},
                {type: 'numbers', title: '序'},
                {field: 'subsystemName', align: 'center', edit: 'text', sort: true, title: '子系统名称'},
                {field: 'subsystemNum', align: 'center', sort: true, title: '子系统编号'},
                {field: 'orderNum', align: 'center', edit: 'text', sort: true, title: '排序号'},
                {
                    sort: true, align: 'center', templet: function (d) {
                        return util.toDateString(d.createDate);
                    }, title: '创建时间'
                },
                {align: 'center', toolbar: '#tableBarSubsystem', title: '操作', minWidth: 120}
            ]]
        });
        // 搜索按钮点击事件
        form.on('submit(formSubSearchTbLtrt)', function (data) {
            insTb.reload({where: data.field}, 'data');
        });

        //添加子系统
        form.on('submit(subsystemSubmit)', function (data) {
            layer.load(2);
            var dataField = emil.getJsonString('modelSubsystemForm');
            $.post("subsystem/add", dataField, function (res) {
                layer.closeAll('loading');
                if (res.code == 200) {
                    layer.msg(res.msg, {icon: 1});
                    insTb.reload();
                } else if (res.code == 1) {
                    layer.msg(res.msg, {icon: 0});
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
        });


        //删除子系统
        $(".delAll_btn").click(function () {
            let checkStatus = table.checkStatus('tableSubsystem'),
                data = checkStatus.data,
                itemId = [];
            if (data.length > 0) {
                for (let i in data) {
                    itemId.push(data[i].subsystemId);
                }
                layer.confirm('确定删除选中的数据?', {icon: 3, btnAlign: 'c', title: '提示信息'}, function (index) {
                    parent.layer.msg('删除中...', {icon: 16, shade: 0.3, time: 1000});
                    $.post('subsystem/delete', {
                        subsystemId: itemId
                    }, function (res) {
                        layer.closeAll('loading');
                        if (res.code == 200) {
                            layer.msg(res.msg, {icon: 1});
                            insTb.reload();
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }, 'json');
                })
            } else {
                layer.msg("请选择需要删除的数据");
            }
        });

        // 删除子系统
        function doDel(subsystemId, subsystemName) {
            layer.confirm('确定要删除“' + subsystemName + '”吗？', {
                shade: .1,
                skin: 'layui-layer-admin'
            }, function (index) {
                layer.close(index);
                layer.load(2);
                $.post('subsystem/delete', {
                    subsystemId: subsystemId
                }, function (res) {
                    layer.closeAll('loading');
                    if (res.code == 200) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload();
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'json');
            });
        }

        // 工具条点击事件
        table.on('tool(tableSubsystem)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') { // 修改
                // showEditModel(data);
            } else if (layEvent === 'del') { // 删除
                doDel(data.subsystemId, data.subsystemName);
            }
        });
        table.on('edit(tableSubsystem)', function (obj) {
            let value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            let subsystemName = '';
            let orderNum = '';
            if (field === 'subsystemName') {
                subsystemName = value;
                $.post('subsystem/update', {
                    subsystemId: data.subsystemId, subsystemName: subsystemName
                }, function (res) {
                    layer.closeAll('loading');
                    if (res.code == 200) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload();
                    } else if (res.code == 1) {
                        layer.msg(res.msg, {icon: 0});
                        insTb.reload();
                    } else {
                        layer.msg(res.msg, {icon: 2});
                        insTb.reload();
                    }
                }, 'json');
            } else if (field === 'orderNum') {
                orderNum = value;
                $.post('subsystem/update', {
                    subsystemId: data.subsystemId, orderNum: orderNum,
                }, function (res) {
                    layer.closeAll('loading');
                    if (res.code == 200) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload();
                    } else {
                        layer.msg(res.msg, {icon: 2});
                        insTb.reload();
                    }
                }, 'json');
            }
        });
    });
</script>
</body>

</html>